* {
    box-sizing: border-box;
}
body {
    background-color: #ccc;
    padding: 0;
    margin: 0;
}
.container {
    /* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
    *zoom: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.container:after {
    clear: both;
}
.container:before,
.container:after {
    content: " ";
    display: table;
}
#heading {
    background-color: #FFB293;
    height: 100px;
    border-bottom: 15px solid #fff;
    margin-top: 10px;
}
#heading h1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 2.4em;
    text-align: center;
}
.bg-color {
    background-color: #E8DDD5;
}
#commentForm {
    float:left;
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    background-color: #fff;
    padding: 15px;
    margin: 20px;
}
form#commentForm fieldset { border: 1px solid #C8400B;}
form#commentForm legend {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #C8400B;
    padding: 0 5px;
}
form#commentForm label {
    float: left;
    display: block;
    width: 100%;
    max-width: 140px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 30px;
    color: #C8400B;
    text-align: left;
    padding: 0;
}
form#commentForm input {
    clear: right;
    display: block;
    width: 100%;
    max-width: 280px;
    height: 30px;
    border: 1px solid #C8400B;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    color: #2e2e2e;
    padding: 0 5px;
    margin-bottom: 10px;
}
form#commentForm label.textBox {
    clear: both;
    text-align: left;
    font-size: 1.2em;
    padding: 0;
    margin-top: 20px;
}
form#commentForm textarea {
    resize: none;
    border: 1px solid #C8400B;
    outline: none;
    clear: both;
    display: block;
    width: 100%;
    max-width: 360px;
    height: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.5;
    color: #2e2e2e;
    padding: 10px;
}
form#commentForm input[type=submit] {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 2px 2px 3px rgba(46, 46, 46, 0.4);
    -webkit-box-shadow: 2px 2px 3px rgba(46, 46, 46, 0.4);
    box-shadow: 2px 2px 3px rgba(46, 46, 46, 0.4);
    outline: none;
    border: none;
    float: right;
    display: block;
    width: 100%;
    max-width: 120px;
    height: 40px;
    cursor: pointer;
    background-color: #C8400B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    color: #fff;
    text-transform: capitalize;
    margin-top: 20px;
}
form#commentForm input[type=submit]:hover {
    background-color: #553752;
    color: #fff;
}

div#articles {
    float: left;
    display: block;
    width: 100%;
    max-width: 720px;
    height: auto;
    background-color: #553752;
    padding: 5px 20px;
    margin: 20px;
}

div#articles .article {
    position: relative;
    display: block;
    width: 100%;
    max-width: 700px;
    height: auto;
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
}

div#articles .article h2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1.8em;
    line-height: 1.0;
    color: #553752;
}

div#articles .article span {
    position: absolute;
    top: 10px;
    right: 20px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size:0.8em;
    font-style: italic;
    font-weight: bold;
    color: #553752;
}

div#articles .article a {
    position: absolute;
    top: 30px;
    right: 20px;
    display: block;
    width: 100%;
    max-width: 80px;
    height: 30px;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 30px;
    color: #553752;
    text-align: center;
    text-decoration: none;
}
div#articles .article a:hover {
    background-color: #553752;
    color: #fff;
}

div#articles .article p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    color: #553752;
}